<a href="https://colab.research.google.com/github/jessikamorais/FIAP/blob/main/projeto_modulo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Síndrome da Fadiga Crônica (EM/SFC) e Depressão

### Fonte de Dados:

O conjjunto de dados utilizado é sintetíco, desenvolvimendo para tarefas de classificação entre Encefalomielite Miálgica/Síndrome da Fadiga Crônica (EM/SFC) e Depressão.

Este é o primeiro conjunto de dados desse tipo criado especificamente para ajudar iniciantes e pesquisadores a explorar casos complexos de diagnóstico diferencial em condições de saúde mental e crônica.

(Falar sobre as duas doenças de forma breve, falar da importância do estudo das mesmas e como elas afetam as pessoas no mundo atual).

# **Explicação das variáveis:**

* **age** -	Idade do paciente
* **gender** -	Genêro (Feminino / Masculino / Outro)
* **fatigue_severity_scale_score** -	Escala de Gravidade da Fadiga (Fatigue Severity Scale - FSS), 0–10
* **depression_phq9_score** -	PHQ-9 Índice de depressão, 0–27
* **pem_present	Whether** - Mal-estar pós-esforço está presente (Post-Exertional Malaise - PEM) is present (Yes/No or 1/0)
* **pem_duration_hours** -	Duração do mal-estar pós-esforço (PEM) em horas
* **sleep_quality_index** -	Qualidade do sono (escala de 1 à 10)
* **brain_fog_level** -	Névoa cerebral (1–10)
* **physical_pain_score** -	Intesidade da dor física (1–10)
* **stress_level** - Nível de estresse (1–10)
* **work_status** -	Status de trabalho: Trabalhando / Trabalho parcial / Sem trabalho
* **social_activity_level** - Atividade social: Muito baixa – Muito alta
* **exercise_frequency** - Frequência de atividade física: Nunca – Diariamente
* **meditation_or_mindfulness** - O paciente pratica mindfulness ou meditação? Sim / NãoDoes the patient practice mindfulness or meditation? Yes/No
* **hours_of_sleep_per_night** - Duração média do sono por noite
* **diagnosis** - Diagnóstico (qual doença o paciente tem, ou possui ambas): ME/CFS, Depressão, Ambos (Variável Target)

# **`Importando as bibliotecas`**

In [6]:
import pandas as pd # Para trabalhar com dados tabulares
# from sklearn.model_selection import train_test_split #separação dos dados
# from sklearn.neighbors import KNeighborsClassifier #modelo de machine learning classificação
# from sklearn.metrics import accuracy_score #avaliação do modelo
# from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
# from sklearn.metrics import accuracy_score #métrica de avaliação
# from sklearn.preprocessing import StandardScaler, MinMaxScaler #Feature Engineer
# import matplotlib.pyplot as plt #gráficos
# import seaborn as sns #gráficos
# import numpy as np #transformação dos dados
# import warnings #remoção de avisos

# **Importando os dados**

In [7]:
dados = pd.read_csv('me_depression_data.csv', sep=',')

# **Analisando os dados**

In [11]:
dados.shape

(1000, 16)

In [12]:
dados.head(10)

,age,gender,sleep_quality_index,brain_fog_level,physical_pain_score,stress_level,depression_phq9_score,fatigue_severity_scale_score,pem_duration_hours,hours_of_sleep_per_night,pem_present,work_status,social_activity_level,exercise_frequency,meditation_or_mindfulness,diagnosis
0,56,Male,8.7,3.9,9.2,8.1,10.0,6.5,9.0,7.7,0,Working,Low,Daily,Yes,Depression
1,69,Male,1.3,9.9,4.2,9.9,20.0,7.0,41.0,8.4,1,Working,Low,Often,Yes,Both
2,46,Female,4.0,5.4,4.8,NaN,24.0,1.6,13.0,6.9,0,Partially working,NaN,Rarely,Yes,Depression
3,32,Female,9.4,2.1,2.9,3.8,10.0,6.8,11.0,7.5,0,Not working,High,Never,Yes,Depression
4,60,Female,7.6,7.5,6.4,8.5,17.0,7.0,46.0,3.1,1,Not working,Low,Rarely,No,Both
5,25,Female,3.5,3.9,6.4,6.5,9.0,7.5,41.0,4.1,1,Partially working,Medium,Never,No,ME/CFS
6,38,Female,3.3,10.0,4.3,6.2,15.0,7.0,29.0,9.9,1,Not working,Very low,Sometimes,Yes,Both
7,56,Male,1.0,9.8,4.0,3.3,10.0,4.5,31.0,3.5,0,Not working,Very high,Daily,Yes,Depression
8,36,Female,7.3,6.9,9.0,7.8,9.0,7.0,31.0,7.8,1,Working,High,NaN,No,ME/CFS
9,40,Female,1.4,2.2,4.4,1.7,9.0,9.8,41.0,4.2,1,Partially working,Medium,Rarely,Yes,ME/CFS

In [9]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           1000 non-null   int64
 1   gender                        1000 non-null   object
 2   sleep_quality_index           953 non-null    float64
 3   brain_fog_level               952 non-null    float64
 4   physical_pain_score           966 non-null    float64
 5   stress_level                  952 non-null    float64
 6   depression_phq9_score         978 non-null    float64
 7   fatigue_severity_scale_score  979 non-null    float64
 8   pem_duration_hours            976 non-null    float64
 9   hours_of_sleep_per_night      979 non-null    float64
 10  pem_present                   1000 non-null   int64
 11  work_status                   953 non-null    object
 12  social_activity_level         960 non-null    object
 13  exercise_frequency            961 non-null    object
 14  meditation_or_mindfulness     989 non-null    object
 15  diagnosis                     1000 non-null   object
dtypes: float64(8), int64(2), object(6)
memory usage: 125.1+ KB

Pode se observar que as únicas variáveis que não possuem valores nulos são: "age", "gender", "pem_present" e "diagnosis", possuindo 1000 linhas de informações preenchidas (não nulas).
As demais variáveis posssuem valores nulos, que devem ser tratados no decorrer do projeto.

As variáveis: "gender", "work_status", "social_activity_level", exercise_frequency", "meditation_e_mindfulness", "diagnosis", são variáveis do tipo texto. Analisando estas variáveis uma de cada vez:

Variável: "**gender**"

In [14]:
set(dados["gender"])

{'Female', 'Male'}

In [15]:
dados["gender"].value_counts()

gender
Male      524
Female    476
Name: count, dtype: int64

Variável: "**work_status**"

In [17]:
set(dados["work_status"])

{'Not working', 'Partially working', 'Working', nan}

In [18]:
dados["work_status"].value_counts()

work_status
Partially working    335
Working              320
Not working          298
Name: count, dtype: int64

Variável: "**social_activity_level**"

In [19]:
set(dados["social_activity_level"])

{'High', 'Low', 'Medium', 'Very high', 'Very low', nan}

In [20]:
dados["social_activity_level"].value_counts()

social_activity_level
Very low     203
High         200
Low          190
Very high    186
Medium       181
Name: count, dtype: int64

Variável: "**exercise_frequency**"

In [21]:
set(dados["exercise_frequency"])

{'Daily', 'Never', 'Often', 'Rarely', 'Sometimes', nan}

In [22]:
dados["exercise_frequency"].value_counts()

exercise_frequency
Rarely       210
Often        202
Daily        194
Sometimes    184
Never        171
Name: count, dtype: int64

Variável: "**meditation_or_mindfulness**"

In [24]:
set(dados["meditation_or_mindfulness"])

{'No', 'Yes', nan}

In [25]:
dados["meditation_or_mindfulness"].value_counts()

meditation_or_mindfulness
Yes    505
No     484
Name: count, dtype: int64

Variável: "**diagnosis**"

In [26]:
set(dados["diagnosis"])

{'Both', 'Depression', 'ME/CFS'}

In [27]:
dados["diagnosis"].value_counts()

diagnosis
Depression    401
ME/CFS        397
Both          202
Name: count, dtype: int64

# **Tratando inconsistências na base**

In [13]:
dados.isnull().sum()

age                              0
gender                           0
sleep_quality_index             47
brain_fog_level                 48
physical_pain_score             34
stress_level                    48
depression_phq9_score           22
fatigue_severity_scale_score    21
pem_duration_hours              24
hours_of_sleep_per_night        21
pem_present                      0
work_status                     47
social_activity_level           40
exercise_frequency              39
meditation_or_mindfulness       11
diagnosis                        0
dtype: int64

# **Análise exploratória dos dados**

# **Criação dos modelos de Machine Learning**

**Separação da base de treino e de teste**